*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

@font-face {
  font-family: 'yammanKateit';
  src: url('../components/customFonts/BINGO.otf');
}

.navbar {
    background-color: #ffffff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    border-bottom: 2px solid transparent; /* Default border color */
  }
  
  .nav-links {
    display: flex;
    align-items: center;
  }
  
  .nav-links a {
    text-decoration: none;
    color: #333;
    margin: 0 10px;
    font-weight: bold;
    padding-bottom: 5px; /* Add padding for the bottom border */
  }
  
  .nav-links a.active {
    border-bottom: 2px solid #000; /* Black border for active link */
  }
  
  .logo img {
    max-width: 100px;
  }
  
  .search-cart {
    display: flex;
    align-items: center;
  }
  
  .search-box {
    display: flex;
    align-items: center;
    border: 2px solid #ccc;
    padding: 5px;
    margin-right: 20px;
  }
  
  .search-box input {
    border: none;
    outline: none;
    flex: 1;
    padding: 10px;
    border-radius: 40px;
    height: 45px;
  }

  h1{
    font-family: 'yammanKateit',sans-serif;
  }
  
  .search-box img {
    max-width: 25px;
    margin-left: 10px;
  }
  
  .cart img {
    max-width: 30px;
  }
  