.signup_container{
    display: grid;
    grid-template-columns: 1.1fr 0.9fr;
    height: 100vh;
    font-family: 'Roboto','sans-serif';
}

.right_signup{
    position: relative;
    height: inherit;
}

.left_signup{
    /* border: 1px solid #707070; */
    background:linear-gradient(229deg,#A23F97,#612B7D,#612B7D);
    overflow: hidden;
}

.left_top{
        position: absolute;
        top: -120px;
        left: -160px;
}

.signup_content{
    display: flex;
    /* border: 1px solid black; */
    justify-content: center;
    align-items: center;
    height: 100%;
    gap: 20px;
    flex-direction: column;
    margin: 50px auto;
}

.signup_heading{
    color: #FFFFFF;
    font-size: 35px;
    font-weight: 600;
    margin-left: -28%;
    font-family: 'Roboto',sans-serif;
}

.signup_inputs{
    border-radius: 45px;
    height: 45px;
    width: 45%;
    background-color: transparent;
    border: 1.5px solid #FFFFFF; 
    padding-left: 14px;
    outline: none;
    /* margin-left: 20%; */
}

.signup_inputs::placeholder{
    color: #F9EEFF;
}

.submit_details_btn{
    border-radius: 45px;
    height: 45px;
    width: 45%;
    background-color: #FFFFFF;
    border: 1px solid #FFFFFF; 
    padding-left: 14px;
    outline: none;
    /* margin-left: 20%; */
    color: #612B7D;
    font-size: 22px;
    font-weight: 600 ;
}


.background{
    position: absolute;
    left: 0;
    top: 0;
    transform: translateY(15%);
    z-index: -1;
    height: 80vh;
    opacity: 0.5;
}

.right_content{
    display: flex;
    height: inherit;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: relative;
}

.signup_logo_wrapper {
    /* border: 1px solid; */
    margin-top: -70px;
    display: flex;
    justify-content: center;
}

.signup_logo{
    width: 40%;
    margin-inline: auto;
}

.signup_to_login_btn{
    border-radius: 45px;
    height: 40px;
    width: 95%;
    border: 1px solid #707070; 
    padding-left: 6px;
    color: #FFFFFF;
    font-size: 17px;
    background-color: #612B7D;
    margin-top: 25px;
}

.textandbtn {
    position: absolute;
    bottom: 70px;
    width: 220px;
    font-family: 'Roboto',sans-serif;
}


